* {
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.nav_wrapper {
    display: grid;
    grid-template-columns: 160px 3fr 2fr;
    grid-template-areas: "nalo nahe nalg";
    height: 100px;
    width: 100%;
}

#nav_logo {
    background-color: aquamarine;
    grid-area: nalo;
}

#nav_logo img {
    width: 160px;
    height: 80px;
}

.nav_text {
    background-color: lightcoral;
    grid-area: nahe;
    text-align: center;
}

.nav_text h1 {
    margin-top: 25px;
}

#inlogged {
    text-align: center;
    width: 100%;
}

#inlogged h2 {
    font-size: 18px;
    font-style: bold;
}

.nav_log_in {
    grid-area: nalg;
    background-color: whitesmoke;
    width: auto;
    display: flex;
    flex-direction: row;
    border: solid black 4px;
}

.login_nav {
    padding: 5px;
    border-radius: 0%;
    overflow: hidden;
}

.login_nav input {
    margin-top: 2px;
    margin-bottom: 2px;
    clear: both;
    width: auto;

}

#label_2 {
    margin-right: 43px;
}

#log_button_nav {
    width: 100px;
    height: auto;
    font-size: auto;
}

#reg_button_nav {
    width: 100px;
    height: auto;
    font-size: auto;

}

#reg_nav {
    width: fill;
    padding-top: 25px;
    padding-left: fill;
    border-left: solid black 4px;
}

.main_wrapper_start {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 200px 200px auto;
    grid-template-areas: 
    "sas1 sas2"
    "sas3 sas4"
    "sas5 sas5"
    "sas6 sas6"
    ;
    height: auto;
    width: 100%;
}

.main_wrapper_start section {
    padding: 20px;
}

.section_start h2{
    text-align: center;
}

#section_profile_start {
    grid-area: sas1;
    background-color: rgb(230, 230, 230);
}

#section_profile_start h2{
    font-size: 35px;
}

#section_profile_start h3{
    font-size: 25px;
}

.start_button {
    font-size: 18px;
    border: solid black 2px;
    border-radius: 6px;
    font-weight: bold;
    text-align: center;
    width: 100px;
    margin-left: 480px;
    margin-right: auto;
    margin-top: 0px;
    background-color: #ddd;
    color: black;
    text-decoration: none;
}

.start_button:hover {
    background-color: darkgray;
}

#error_button {
    margin-left: 10px;
}

#section_lcomp_start {
    grid-area: sas2;
    background-color: lightgray;
}

.table_start {
    width: 80%;
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    border-collapse: collapse;
}

.table_start tr {
    border-collapse: collapse;
}

.table_start tr td {
    font-size: 24px;
}

#section_stando_start {
    grid-area: sas3;
    background-color: lightgrey;
}

#section_standh_start {
    grid-area: sas4;
    padding-right: 20px;
    background-color: rgb(230, 230, 230);
}

#section_comp_start {
    grid-area: sas5;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: 
    "sea1 sea2"
    ;
    height: 160px;
    width: 100%;
    padding: 10px;
}



#article_1_start {
    grid-area: sea1;
    display: flex;
    flex-direction: row;
    align-items: center;
    align-content: center;
    font-size: 30px;
    border-top: solid black 2px;
}

.comp_name {
    margin-right: 30px;
    margin-left: 10px;
}

#article_2_start {
    grid-area: sea2;
    border-top: solid black 2px;
}

#article_2_start table tr td{
    border-right: 2px solid lightgrey;
    border-bottom: 0px solid;
    text-align: center;
}

#section_comp_form_start {
    grid-area: sas6;
    display: grid;
    grid-template-columns: 1fr 620px;
    grid-template-areas: 
    "sfa1 sfa2"
    ;
    width: 100%;
    padding: 10px;
    height: 200px;
    border: solid black 2px;
    border-radius: 10px;
    margin-bottom: 10px;
}

#section_edit {
    margin-top: 4px;
}

#table_form_start tr td {
    border-right: 2px solid lightgrey;
    border-bottom: 0px solid;
    text-align: center;
}

#article_1_form_start {
    grid-area: sfa1;
    font-size: 30px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 1fr 1fr;
    grid-template-areas: 
    "afh2 afh2"
    "afin afd1"
    "afin afd2"
    ;
    width: 100%;
    height: 100%;
}

#article_2_form_start {
    grid-area: sfa2;
}

#comp_form_start_h2 {
    font-size: 35px;
    text-align: center;
    grid-area: afh2;
    border-bottom: solid black 2px;
}

#div_input {
    grid-area: afin;
    display: flex;
    justify-content: center;
    align-items: center;
}

#div_input input {
    font-size: 35px;
}

#comp_form_div_1 {
    grid-area: afd1;
}


#comp_form_div_2 {
    grid-area: afd2;
}

.comp_form_div label {
    height: 30px;
    font-size: 24px;
    margin-top: 20px;
    width: min-content;
}

.comp_form_div input {
    height: 30px;
    font-size: 24px;
    width: 200px;
}







.main_wrapper_stand {
    display: grid;
    grid-template-columns: 5fr 40px 40px 5fr;
    grid-template-rows: 80px 500px;
    grid-template-areas: 
    "sth1 star star sth2"
    "sts1 sts1 sts2 sts2"
    ;
    height: auto;
    width: 100%;
    margin-top:8px;
}

#header_1_stand {
    grid-area: sth1;
    background-color: aquamarine;
}

#header_2_stand {
    grid-area: sth2;
    background-color: lightcyan;
}

#comp_l_stand {
    grid-area: star;
    background-color: lightgray;
}

.stand_owners {
    grid-area: sts1;
    background-color: lightcoral;
    padding-right: 20px;
}

.stand_horses {
    grid-area: sts2;
    background-color: lightgoldenrodyellow;
    padding-left: 20px;
}



